/* App.css */

/* Allow app to use full height */
.app-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* If using CSS variables */
.app-container.with-bg {
  background-image: var(--bg-image); /* Here we use the CSS variable */
}

.main-layout {
  display: flex;
  flex: 1;
  height: 100%;
  /*overflow: hidden; /* Restrict scroll unless needed in children */
  opacity: 0.8;
  flex-direction: column; /* Stack header and content vertically */
}

/* Fixed header styling */
.header {
  background-color: #61dafb; /* Bootstrap's 'info' background */
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;  
}

.header h1 {
  margin: 0;
  background-color: #61dafb; /* Optional: same as header for consistency */
}

h1 {
  text-align: center;
}

/* Scrollable content area below fixed header */
.content {
  background-color: #0e8797;
  margin-left: 250px;
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - 72px); /* Adjust if your header is taller or shorter */
  margin-top: 72px; /* Push below the fixed header */
}

h2 {
  text-align: center;
  color: black;
}

.button-container {
  /* background-color: #495057; */
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

/* Responsive layout for small screens */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
}